<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <a href="/download"
            class="flex items-center justify-center w-full md:w-48 h-16 bg-blue-500 text-white font-bold rounded-lg shadow-lg hover:bg-blue-600">
            Download
        </a>
        <a href="/upload"
            class="flex items-center justify-center w-full md:w-48 h-16 bg-green-500 text-white font-bold rounded-lg shadow-lg hover:bg-green-600">
            Upload
        </a>
        <a href="/list_all_files"
            class="flex items-center justify-center w-full md:w-48 h-16 bg-yellow-500 text-white font-bold rounded-lg shadow-lg hover:bg-yellow-600">
            List All Files
        </a>
    </div>

</body>

</html>